header {
background: #008080;
height: 50px;
font-family: Arial;
text-align: center;
}
nav {
background: #20B2AA;
height: 600px;
width: 25%;
float: left;
text-decoration: none;
}
main {
background: #66CDAA;
height: 600px;
width: 75%;
text-align: center;
float: left
}
footer {
background:#008080;
font-family: Arial;
text-align: right;
clear: both;
}
