header {
background: #008080;
height: 100px;
font-family: Arial;
text-align: center;
padding: 5px;
font-size:25px;
}
nav {
background: #20B2AA;
height: 600px;
width: 25%;
float: left;
text-decoration: none;
  padding: 10px;
  font-size:20px;
  margin-left: 10px;
}
main {
background: #66CDAA;
height: 600px;
width: 75%;
text-align: center;
float: left;
}
footer {
background:#008080;
font-family: Arial;
text-align: right;
height: 100px;
clear: both;
  padding: 10px;
  font-size:25px;
}
li {
  list-style-type: circle;
}
img {
  margin-top: 20px;
}
